/* Mobile Styles */
@media only screen and (max-width: 400px) {
    #logo{
        height: 4em;
        width:6em;
    }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    #logo{
        height: 5em;
        width:7em;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    #logo{

        height: 5.1em;
        width:7.5em;
    }
    .nav-link{
        font-weight: bolder;
    }

    .nav-item{
        padding-left: 3em;
    }


    .panel-transparent .panel-heading{
        background: rgba(122, 130, 136, 0.2)!important;
    }
}

