/* Desktop Styles */
@media only screen and (min-width: 961px) {
    #title{
        font-weight: bold;
        font-size: 21px;
    }
    #who-text{
        font-size: 18px;
    }
    #leadership-title{
        font-weight: bold;
        font-size: 21px;
    }
    #leadership-text{
        font-size: 18px;
    }
    #card-title{
        text-align: center;
        font-weight: bold;
        font-size: 21px;
    }
    #card-body{
        font-size: 18px;
        text-align: center;
    }
    #leadership_cards {
        height: 5vh;
        width: 20vw
    }
}

@media only screen and (min-width: 420px) and (max-width: 970px) {
        #title {
          font-weight: bold;
          font-size: 21px;
        }

        #who-text {
          font-size: 18px;
        }

        #leadership-title {
          font-weight: bold;
          font-size: 21px;
        }

        #leadership-text {
          font-size: 18px;
        }

        #card-title {
          text-align: center;
          font-weight: bold;
          font-size: 21px;
        }

        #card-body {
          font-size: 18px;
          text-align: center;
        }
        #leadership_cards {
            height: 5vh;
            width: 20vw;
        }
}
@media only screen and (max-width: 419px) {
        #title {
          font-weight: bold;
          font-size: 21px;
        }

        #who-text {
          font-size: 18px;
        }

        #leadership-title {
          font-weight: bold;
          font-size: 21px;
        }

        #leadership-text {
          font-size: 18px;
        }

        #card-title {
          text-align: center;
          font-weight: bold;
          font-size: 21px;
        }

        #card-body {
          font-size: 18px;
          text-align: center;
        }
        #leadership_cards{
            height:5vh;
            width: 10vw;
        }
}

