
<div id="about">
    <app-navbar></app-navbar>
    <div class="container">
        <div class="row">
            <div class="col">
                <br> 
                <div id="title">Who are we?</div>
                <div id="who-text">
                    Comprehend code is an organization based on helping people with learning differences understand and
                    explore the world of computer science. We are made up of two students who have had the same difficulty exploring computer science due to
                    our dyslexia. Through our experiences, we have created an outlet to help people overcome their learning differences while exploring their journey into the world of code.
                </div>
                <br>
                <div id="leadership-title">Leadership</div> 
                <div id="leadership-text"> We have been apart of the Woodward Academy community since the 6th grade, as
                  we were both put into the transition program due to our dyslexia. This was also where our love of computer science was first explored as we started to program in the language python. 
                  As we started to program, we became aware of the conflict between learning differences and computer science.
                  However, through this newly found passion, we overcame this difficulty which lead us to success.
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-6">
                <div class="card" >
                    <img src="../../assets/Victor_Headshot.png" class="card-img-top" alt="..."
                                            style="height: 35em;">
                    <div class="card-body">

                        
                        <div id="card-title">Victor Henriksson</div>
                        <div id="card-body"> Founder</div>
                        <div id="card-body">Email: <a href=" mailto: vhenrixon@gmail.com">vhenrixon@gmail.com</a></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <img src="../../assets/Chip_headshot.png" class="card-img-top" alt="..."
                        style="height: 35em;">
                    <div class="card-body">
                        
                        <div id="card-title">Christian Koch</div>
                        <div id="card-body"> Founder</div>
                        <div id="card-body">Email: <a href=" mailto: chipgad@gmail.com">chipgad@gmail.com</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>