<div class="container" id="login">

    <div class="row">

      <div class="col">
        <div class="card">
          <h1 class="form-signin-heading card-title" id="title">Sign in</h1>
          <!-- routerLink="/register" -->
          <!--<p class="lead  card-subtitle" style="  text-align: center;">Not a member? Please <a
              routerLink="/register">register</a> instead.</p> -->
          <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="login()">
              <label for="email">Email address</label>
              <div class="form-group input-group">
                <input type="email" class="form-control" name="email" placeholder="Enter email"
                  formControlName="email" required>
              </div>
              <small *ngIf="!form.controls.email.valid" class="text-danger">
                The email is required
              </small>
              <br>
              <label for="password">Password</label>
              <div class="form-group input-group">
                <input type="password" class="form-control" name="password" placeholder="Password"
                  formControlName="password" required>
              </div>
              <small *ngIf="!form.controls.password.valid" class="text-danger">
                The email is required
              </small>
              <br>
              <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Sign in!</button>
            </form>
          </div>
        </div>
      </div>
    </div>

</div>
