/* Desktop Styles */
@media only screen and (min-width: 961px) {
    


    #eventsPlanned{
        padding-top: 1.75em;
        padding-left: 3em;
        padding-right: 3em;
        padding: .75em;
        font-size: 2.25em;
        font-weight: bold;
        color: black;
    }
    

    .marginLeft{ 
        text-emphasis: bold;
        
    }

    .largeText{
        font-size: 4em;
    }

    .smallText{
        font-size: 3em;
    }
}