<app-navbar></app-navbar>
<div class="container"> 
  <div class="row">
    <div class="col">
      <div id="title"> Our Progress</div>
      <div id="subtitle">- Keep up with what we are doing with a image and a small descriptions - </div>
      <p>{{postArray}}</p>
      <div *ngFor="let post of postArray">
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>

    
    
    </div>
  </div>
</div>