/* Desktop Styles */
@media only screen and (min-width: 961px) {
    
    #about{ 
        background-image: url("../../assets/background.svg");
        width: 100vw;
        height: 100vh;
        background-repeat: no-repeat;
    }

    #textBox{
        padding-left: 20em;
    }

    #introHeader{
        padding-left: 13em;
    }

    #introTwo{
        padding-left: 37em;
    }

    #introThree{
        padding-left: 19em;
    }

    #introFour{
        padding-left: 17.5em;
    }


    #shiftOne{
        padding-left: 15em;
    }

   
}
