/* Desktop Styles */
@media only screen and (min-width: 961px) {
    
    #about{ 
        background-image: url("../../assets/CC-about.svg");
        background-size: 100% 100%;
        width: 100vw;
        height: 100vh;
        background-repeat: no-repeat;
    }
    #text-header {
        font-weight: bolder;
    }
    .mission{
        font-size: 3rem;
    }
    .leadership{
        font-size: 2.5rem;
    }
    .card{
        background-color:rgba(250, 244, 244, 0.918);
    }

    .text{
        font-size: 1.08rem;
    }

   
}


