<div id="about">
  <app-navbar-general></app-navbar-general>


  <div class="intro">
      <div id="our_mission">
          -Moto Goes Here-
      </div>
  </div>

  <div class="intro">
    <div id="about_us">
        About Us 
    </div>
  </div>

  <div class="container">
    <div id="Our Story">
          Comprehend code is an organization based on helping people with learning differences understand and explore the world of computer science.
          We are made up of two students who have had the same difficulty exploring computer science due to our dyslexia. 
          Through our experiences, we have created an outlet to help people overcome their learning differences while exploring their journey into the world of computer science.
    </div>
    
  </div>

  <app-footer></app-footer>
</div>
