
<div id = "about">
    <app-navbar></app-navbar>
    <div class="page-body bg-gray page-about">
        <div class = "container">
            <div class = "row flex-row justify-content-center">
                <section id="about-about">
                    <h1 class="text-xxxxl mb-sm mt-sm text-center" id="text-header" >- Our Mission -</h1>
                    <p class="text-sm mx-auto text-center">Comprehending the future </p>
                    <h2 class="text-xxl mx-auto text-center" id="text-header">About</h2>

                    <div class="text-xs text-center " style="max-width: 40rem;">
                        <p class="m-b-xs ">
                            Comprehend code is an organization based on helping people with learning differences understand and explore the world of computer science. 
                            We are made up of two students  who have had the same difficulty exploring computer science due to our dyslexia. 
                            Through our experiences, we have created an outlet to help people overcome their learning differences while exploring their journey into the world of code.
                        </p>
                        <p class="m-b-xs text-center">
                            We have been apart of the Woodward Academy community since the 6th grade, as we were both put into the transition program due to our dyslexia. 
                            This was also where our love of computer science was first explored as we started to program in the language python. 
                            As we started to program, we became aware of the conflict between learning differences and computer science.
                            However, through this newly found passion, we overcame this difficulty which lead us to success. 
                        </p>
                    </div>
                </section>
            </div>
            <div>
                <section class = "text-center" id= "about-leadership">
                    <h2 class="text-xxl mb-xxl text-center" id="text-header"> - Leadership - </h2>
                    <p class = "text-sm mx-auto text-center"> Our Team</p>
                        <div class = "row justify-content-center">
                            <div class="col-sm-3 col-xxl-2 mb-xxl">
                                <h3 class="text-md text-bold mx-auto ">Victor Henriksson</h3>
                                <p class="text-xxxs mb-sm ">Event Planner</p>
                                <p class="text-xs mb-sm mx-auto" style="max-width: 35rem;"></p>
                                <p class="text-xxs mx-auto">Email: vhenrixon@gmail.com</p>
                            </div>
                            <div class="col-sm-3 col-xxl-2 mb-xxl ">
                                <h3 class="text-md text-bold mx-auto">Christian Koch</h3>
                                <p class="text-xxxs mb-sm">Event Planner</p>
                                <p class="text-xs mb-sm mx-auto" style="max-width: 35rem;"></p>
                                <p class="text-xxs mx-auto">Email: chipgad@gmail.com </p>
                            </div>
                        </div>
                </section>
            </div>
        </div>
    </div>
</div>