/* Desktop Styles */
@media only screen and (min-width: 961px) {
    #mission_statement{
        padding-top: 1.75em;
        padding-left: 3em;
        padding-right: 3em;
        font-size: 3.75em;
        font-weight: bold;
        color:black
    }
    #about{ 
        background-image: url();
        width: 100vw;
        height: 100vh;
        background-repeat: no-repeat;
    }

    #our_mission{
        text-align: center; 
    }

    #about_us{
        padding-top: 2em; 
        padding-left: 40em;  
        font-weight: bold; 
        color: black; 
    }

    #intro{
        font-size: 32em; 
    }


    #container{
        font-size: 11em;
    }

}
