<app-admin-navbar></app-admin-navbar>

<div class="container">
  <div class="row">
    <div class="col">
      <form [formGroup]="form" (ngSubmit)="submitForm()">
          <label for="name">name</label>
          <div class="form-group input-group">
            <input type="text" class="form-control" name="name" placeholder="Enter post name"
              formControlName="name" required>
          </div>
          <small *ngIf="!form.controls.name.valid" class="text-danger">
            The post name is required
          </small>
          <br>
          <label for="description">description</label>
          <div class="form-group input-group">
            <input type="text" class="form-control" name="description" placeholder="Enter post description"
              formControlName="description" required>
          </div>
          <small *ngIf="!form.controls.description.valid" class="text-danger">
            The post description is required
          </small>
          <br>
          <label for="full_text">full text</label>
          <div class="form-group input-group">
            <input type="text" class="form-control" name="full_text" placeholder="Enter post full text"
              formControlName="full_text" required>
          </div>
          <small *ngIf="!form.controls.full_text.valid" class="text-danger">
            The post full_text is required
          </small>
          <br>
          <ng-picker-overlay
          [apikey]="apikey"
          (uploadSuccess)="onUploadSuccess($event)"
          (uploadError)="onUploadError($event)">
          <button>Open picker</button>
        </ng-picker-overlay>
        <small *ngIf="uploadSucess" class="text-success">
            Uploaded
          </small>
          <br>
        <button type="submit" class="btn btn-primary" [disabled]="!form.valid & !uploadSucess">Post!</button>
      </form>
    </div>
  </div>
</div>