<div id="tutorial">
        <app-navbar></app-navbar>
        <div class="container">
            <div class="row">
                <div class="col">
                    <br> 
                    <div class="col">
                        <div id="title card-body" class="header d-flex justify-content-center">Tutorial</div>
                        <div id="subtitle card-body" class="d-flex justify-content-center">The basics of programming</div>
                    </div>

                    <div id="title">What is Programming?</div>
                    <div id="who-text">
                        Programming is telling a computer what to do and how to do it. 
                        Since computers can do tasks much faster than we can, programers teach computers to complete a task.
                    </div>
                    <br>
                    <div id="title">The basics</div> 
                    <div id="who-text"> We can split the basics of programing into eac
                    </div>
                </div>
            </div>
            <br>
            <ngx-blockly [config]="config"></ngx-blockly>
    </div>

</div>