/* Mobile Styles */
@media only screen and (max-width: 549px) {
    #mission_statement {
        padding-top: 1.75em;
        padding-left: 3em;
        padding-right: 3em;
        padding: .75em;

        font-size: 2.2em;
        font-weight: bold;
        color: black;
    }
    #learn_more {
      margin-top: 1em;
      margin-left: 2em;
      padding: .75em;

    }
    #mobile-fix{
        padding-bottom: 22vh;
    }
}

/* Tablet Styles */
@media only screen and (min-width: 550px) and (max-width: 970px) {
    #mission_statement {
        margin-left:1em;
        padding-top: 1.75em;
        padding-left: 3em;
        padding-right: 3em;
        padding: 1em;
        font-size: 2.5em;
        font-weight: bold;
        color: black;
    }
    #learn_more {
        margin-top: 1em;
        margin-left: 11em;
        padding: 1em;
    }
    #home {
        background-image: url("../../assets/back-01.svg");
        background-size: 100% 100%;
        width: 100vw;
        height: 100vh;
        background-repeat: no-repeat;
    }

}

/* Desktop Styles */
@media only screen and (min-width: 971px) {
    #mission_statement{
        padding-top: 1.75em;
        padding-left: 3em;
        padding-right: 3em;
        font-size: 3.75em;
        font-weight: bold;
        color:black
    }
    #learn_more {
      margin-top: 1em;
      margin-left: 11em;
      padding: 1em;
    }
    #home{ 
        background-image: url("../../assets/back-01.svg");
        background-size: 100% 100%;
        width: 100vw;
        height: 100vh;
        background-repeat: no-repeat;
    }
}
